#index-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.index-center {
    background-color: antiquewhite;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}