html {
  color: rgb(239, 236, 236);
  text-align: center;
  font-family: "Cantarell", sans-serif;
}
header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header div, header nav {
  width: 250px;
  height: 80%;
  display: flex;
  justify-content: space-around;
}
header div {
  justify-content: flex-start;
}
header a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  color: currentColor;
  transition: all .8s ease-in;
}
header a:hover{
  color: black;
  background-color: rgb(202, 250, 234);
  border-radius: 3px;
}
.svgs {
  fill: currentColor;
  width: 2.5rem;
}
#index-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black url("./img/background-photo.jpg") no-repeat center/cover;
  /* background-size: cover; */
  background-origin: border-box;
  background-attachment: fixed;
}
#index-1 > .index-center {
  height: 25%;
}
.index-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
h1,
h2,
h3 {
  font-weight: 400;
}
h1 {
  font-size: 4rem;
  font-family: "Kotta One", serif;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
}
button {
  color: rgb(202, 250, 234);
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(202, 250, 234);
  border-radius: 3px;
  padding: 1rem 2rem;
}
footer {
  display: none;
}


@media (max-width: 800px) {
  #index-1 {
    background-image: url("./img/background-photo-mobile-devices.jpg");
  }
  #index-1 > .index-center {
    min-height: 70%;
    justify-content: space-around;
    margin: 0 20vw;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  header div a svg, header nav {
    display: none;
  }
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
  }
  footer a {
    color: currentColor;
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    background-color: darkslateblue;
    border-top: .5px solid white;
  }
  footer a svg {
    fill: currentColor;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    padding-right: 30px;
  }
  footer a:hover {
    color: black;
    background-color: rgb(202, 250, 234);
  }
  header {
    justify-content: center;
  }
  header h3 {
    font-size: 2rem;
  }
}
